body {
  background-image: url(images/pexels-sky.jpg);
  color: #141010;
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

h1 {
  top: 20px;
  position: relative;
}

.currentTemperature, .highLow {
  font-family: monospace;
}

input {
  border-radius: 10px;
  position: relative;
  top: 5px;
}

.main-body {
  border: 3px solid #141010;
  max-width: 900px;
  background-color: rgba(245, 245, 245, 0.2);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 40px;
}

p {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}

.five-day {
  border: 1px solid #141010;
  border-radius: 10px;
  text-align: center;
  max-width: 850px;
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 5px;
  font-size: 25px;
  line-height: 1.3;
}

.current-emoji {
  font-size: 100px;
}

.card {
  border: 0.5px solid transparent;
  background: transparent;
}

.dateTime {
  font-size: 25px;
}