body {
  background-image: url(images/redbluesky.jpg);
  color: #141010;
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

h1 {
  top: 20px;
  position: relative;
}

.currentTemperature, .highLow {
  font-family: monospace;
}

input {
  border-radius: 10px;
  position: relative;
  top: 5px;
}

.fiveDayEmoji {
  padding: 0px 5px;
}

.main-body {
  border: 3px solid #141010;
  max-width: 900px;
  background-color: rgba(245, 245, 245, 0.2);
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  border-radius: 10px;
  position: relative;
  top: 40px;
}

p {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}

.five-day {
  border-radius: 10px;
  text-align: center;
  max-width: 850px;
  display: block;
  margin: 10px auto;
  font-size: 25px;
  line-height: 1.3;
}

.current-emoji {
  font-size: 75px;
}

li:first-letter {
  text-transform: capitalize;
}

.card {
  border: 0.5px solid transparent;
  background: transparent;
  max-width: fit-content;
  margin: 0px;
}

.card-body {
  padding: 5px 0px;
}

.dateTime {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: purple;
  padding-bottom: 20px;
}

ul {
  font-size: 20px;
  font-weight: 100px;
  list-style: none;
  padding-left: 0px;
}

.unitConvert {
  font-size: 15px;
  font-weight: bold;
}

.unitConvert .active {
  color: #141010;
}